<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous">
    <title>Portofolio BIW</title>
</head>

<body>
    <header>
        <a class="logo" href="#">MICHIGO</a>
        <nav class="navigation">
            <a href="#mywork">My Work</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section class="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="text">
                <h2>Hello I'm Robi Alwi Ibrahim<br><span>A IT Enginner</span></h2>
                <h3>Saya Membuat Konten yang Mungkin Mengubah Dunia</h3>
                <a href="#mywork" class="main-btn">View MyWork</a>
            </div>
        </div>
    </section>

    <section class="bg-white" id="mywork">
        <div class="container">
            <h2 class="text-center mb-5">My Work</h2>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <img class="img-fluid" src="img/1.jpeg" alt="">
                    <h3 class="mb-3">Web Developer</h3>
                    <p>Web developer adalah programmer yang bertugas membuat dan mengembangkan website atau world
                        wide web.
                        Secara garis besar, tanggung jawab web developer adalah membangun sebuah website atau
                        aplikasi dan memastikan performa website tetap optimal.</p>
                    <a class="btn btn-primary" href="#">View Project</a>
                </div>
                <div class="col-md-4 mb-5">
                    <img class="img-fluid" src="img/2.jpeg" alt="">
                    <h3 class="mb-3">Web Designer</h3>
                    <p>web designer sederhananya adalah orang yang mendesain web. Tetapi, pada kenyataannya,
                        pekerjaan ini tidaklah sesederhana itu.
                        mereka memanfaatkan kreativitas dan kecerdasan teknis yang dimiliki untuk membangun atau
                        mendesain sebuah web.</p>
                    <a class="btn btn-primary" href="#">View Project</a>
                </div>
                <div class="col-md-4 mb-5">
                    <img class="img-fluid" src="img/4.jpg" alt="">
                    <h3 class="mb-3">Cyber Security</h3>
                    <p>Cyber security berasal dari dua kata dalam bahasa Inggris yakni cyber yang artinya dunia maya
                        (internet) dan security yang artinya keamanan. Secara istilah, cyber security merupakan
                        bentuk perlindungan terhadap sistem yang terhubung ke internet. Ini termasuk perangkat
                        keras, perangkat lunak hingga data yang kamu miliki.</p>
                    <a class="btn btn-primary" href="#">View Project</a>
                </div>
            </div>
        </div>
    </section>

    <section class="form" id="contact">
        <div class="container">
            <h2 class="text-center mb-5">Contact Me</h2>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center text-white" style="background-color: gray;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.facebook.com/profile.php?id=100011620980952" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/biwibrahim29"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/biwibrahim29/"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/biwibrahim"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright: BiwMichigo
        </div>
        <!-- Copyright -->
    </footer>


</body>

</html>